[submodule "libs/opendous"]
	path = libs/opendous
	url = https://github.com/UltimateHackingKeyboard/opendous-kicad-lib.git
[submodule "libs/ugl"]
	path = libs/ugl
	url = https://github.com/UltimateHackingKeyboard/ugl-kicad-lib.git
[submodule "libs/kiibohd"]
	path = libs/kiibohd
	url = https://github.com/kiibohd/pcb.git
